<div class="panel-body panel-default panel searchbar">

<div class="row">
  <div class="col-md-6">

    <div class="panel-default">
                    <div class="autopart-title">
                    Search Parts of Car
                    </div>

            <%= form_for :dynamic do |f| %>
                  <div  class ="col-md-7 input-group form-margin">

                      <%= f.collection_select(  :brand_id , @brands.all, :id, :name,{:prompt => '--Select a Brand--'} ,{:class=> "  form-control vall  " }) %>

                  </div>

                    <%#= f.grouped_collection_select :prop_sub_type_id, PropType.order(:name), :prop_sub_types, :name, :id, :name, :prompt => "-- Select Property Subtype --"  %>


                  <div class="input-group col-md-7 form-margin">

                    <%= f.grouped_collection_select(  :car_id , Brand.order(:name),:cars,:name, :id, :name,{:prompt => '--Select a Car--'} ,{:class=> "  form-control vallcar  "}) %>

                  </div>
                  <div class="input-group col-md-7 form-margin">

                    <%= f.grouped_collection_select( :product_id , Car.order(:name),:products,:name, :id, :name,{:prompt => '--Select a category--'} ,{:class=> "  form-control vallproduct  "}) %>

                  </div>
                  <div class="input-group col-md-7 form-margin">
                       <button type="button" class="btn btn-primary form-margin btn-block" >
                           <div class="submit">
                             Submit
                           </div>
                       </button>
                  </div>
            <% end %>

    </div>
  </div>

      <div class="col-md-6 ">
        <div class="panel-default">
                      <div class="part-title">
                          Search new Car
                      </div>
                      <div class="input-group col-md-7 form-margin">
                        <select class="form-control" name="bootstrap-theme" id="theme_chooser">
                          <option value="">-Select Brand-</option>
                      </select>
                      </div>

                      <div class="input-group col-md-7 form-margin">
                        <select class="form-control" name="bootstrap-theme" id="theme_chooser">
                          <option value="">-Select Model-</option>
                        </select>
                      </div>

                      <div class="input-group col-md-7 form-margin">
                         <button type="button" class="btn btn-primary form-margin btn-block" >
                          Submit
                        </button>
                      </div>
        </div>
      </div>

</div>


</div>
<%= flash[:notice]  %>
<div class="row">



















<% @items.each do |item| %>

    <div class="col-md-4">
      <div class="panel panel-default panel-success panel-item">
        <div class="product-menu">
          <div class="img-responsive">
             <%= image_tag item.image_url,size: "100x100" %>
          </div>
          <br>

          <b>
            <%= link_to "#{item.name}", brand_car_product_type_item_path(:id=> item.id,
                                                                         :item_id=> item.id,
                                                                         :type_id=> item.type.id,
                                                                         :product_id=> item.type.product.id,
                                                                         :car_id=> item.type.product.car.id,
                                                                         :brand_id => item.type.product.car.brand.id) %>
          </b>
          <br><b>Price :</b> Rs.<%= item.price  %>
          <br>
        <b>Manufacturer: </b><%= item.manufacturer %>
        <br><b>Description: </b> <%= truncate(item.description) %>
        </div>
      </div>
    </div>
<% end %>
</div>

<!--truncate("Once upon a time in a world far far away")-->
<!--# => "Once upon a time in a world..."-->

<!--truncate("Once upon a time in a world far far away", length: 17)-->
<!--# => "Once upon a ti..."-->

<!--truncate("Once upon a time in a world far far away", length: 17, separator: ' ')-->
<!--# => "Once upon a..."-->

<!--truncate("And they found that many people were sleeping better.", length: 25, omission: '... (continued)')-->
<!--# => "And they f... (continued)"-->

<!--truncate("<p>Once upon a time in a world far far away</p>")-->
<!--# => "&lt;p&gt;Once upon a time in a wo..."-->

<!--truncate("<p>Once upon a time in a world far far away</p>", escape: false)-->
<!--# => "<p>Once upon a time in a wo..."-->

  <!--truncate("Once upon a time in a world far far away") { link_to "Continue", "#" }-->
  <!--# => "Once upon a time in a wo...<a href="#">Continue</a>"-->