<div class="col-md-3">
  <div class="panel panel-default typesbar">
    <div class="product-sidebar">
      <% @car.products.each do |product| %>
          <div class="sidebar-menu">
            <td><%= link_to "#{product.name}", brand_car_product_types_path(:brand_id => @brand.id, :car_id => @car.id , :product_id => product.id )  %> </td>
            <br>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-9">
  <div class="panel panel-default panel-success panel-item">
    <b><%=@item.name%></b>
    <br><b>Price :</b> Rs.<%= @item.price  %>
    <br><%= image_tag @item.image_url,size: "55x55" %>
    <br><b>Manufacturer: </b><%= @item.manufacturer %>
    <br><b>Description: </b> <%= @item.description %>
  </div>
</div>