<!DOCTYPE html>
<html>
<head>
  <title>Autokart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container ">
    <div class="navbar-header" >

      <%= link_to image_tag('logo.PNG'),root_path %>

    </div>
    <div>
      <ul>

        <li> <%= link_to 'Login', "#" %> </li>
        <li>  | </li>
        <li> <%= link_to 'SignUp', "#" %></li>

        <li><b>  <%= link_to 'Cart', cart_path(@cart) ,:class => "btn btn-success cart", :onClick => "checkout()" %> </b> </li>

      </ul>
    </div>

  </div>



</div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
